body, html {
	padding: 0;
	margin: 0;
	font-family: Georgia, serif;
	color: #383A3A;
}

a {
	text-decoration: none;
	color: #383A3A;
}

a:hover {
	text-decoration: underline;
	color: #23B3B4;
}

p {
	font-size: 14px;
}

p a {
	color: #23B3B4;
}

em {
	font-size: 12px;
}

h1 {
	margin: 1% 0;
	font-size:24px;
	font-weight: normal;
	color: #000;
}

h2 {
	margin-bottom: 0px;
	font-size:20px;
	font-weight: normal;
	color: #23B3B4;
}

h3 {
	color: #fff;
	margin: 1%;
	font-weight: normal;
}



.emphasis {
	font-size: 12px;
	color: #23B3B4;
	font-style: italic;
	text-align: center;
}

.wrapper {
	width: 900px;
	margin: auto;
}

header {
	
	width: 100%;
	float: left;
}

header img {
	float: left;
	margin-left: 25px;
	margin-top: 10px;
  	width: 25%;
}

nav ul {
	float: right;
	margin: 30px 25px 10px;
}

nav ul li {
	display: inline-block;
	margin: 5px 0;
	padding: 0 5px;
	border-right: 1px solid #fff;
}

nav ul li:last-child {
	border: none;
}


nav ul li a:hover {
	color: #23B3B4;
	text-decoration: underline;
}

nav ul li a.selected {
	color: #23B3B4;
	
}

.content {
	margin: 0px 25px 50px;
	float: left;
}

.content .fullWidth {
	width: 100%;
	overflow: hidden;
}

.content .pullHalf {
	float: left;
	width: 45%;
}

.content .banner {
	width: 90%;
	margin: 2% 5% 1%;
}

.content .hotspot {
	width: 450px;
 	margin: 4% 0%;
 	float: right;
}



.content .frontProducts ul {
	padding: 0;
}

area {
	outline: 1px solid #23B3B4;
}

.content .frontProducts ul li {
	display: inline-block;
	width: 22%;
	padding: 0 1%;
	vertical-align: top;
}

.content .frontProducts ul li img {
	width: 90%;
	margin: 0 5%;
}

.content .frontProducts ul li p {
	
}

.content .quotes {
	width: 100%;
}

.content .quotesCol {
	float: left;
	width: 50%;
}

.content .quotesCol blockquote {
	padding-bottom: 10px;
	font-size: 14px;

}
.content .quotesCol blockquote:last-child {
	padding-bottom: 0px;
}

footer {
	position: fixed;
	height: auto;
	bottom: 0;
	background-color: #E8E9E3;
	width: 100%;
	margin: 0;
}

footer div {
	width:90%;
	margin:auto;
	text-align: center;
}

footer p, footer a {
	font-size: 10px;
	display: inline-block;
	text-align: center;
	padding: 0px;
	margin: 8px 2px 0px;
}

footer span {
	color: #23B3B4;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;

}

table th {
	text-align: left;
}

table td:first-child {
	width: 55%;
}

table td ul {
	list-style: none;
}

table td ul li {
	padding: 1%;
}

table img {
	width: 85%;
  	padding-left: 10%;
}

.orderForm div {
	margin: 4px;
	width: 100%;
	float: left;
	font-size: 14px;

}

.orderForm div label {
	width: 30%;
	float: left;
}

.orderForm div input {
	width: 20%;
	float: left;
}

.orderForm #credit label {
	width: auto;
	margin-right: 10px;
}

.orderForm #credit input {
	width: 20%;
	margin-right: 10px;
}

input[type="radio"] {
	width: auto !important;
}

.orderForm #credit #expiry {
	width: 10%;
}


.orderForm table {
	margin: 2% 1%;
}

.orderForm table td {
	width: 12% !important;
	border: 1px solid #23B3B4;
	height: 30px;
	padding: 0px 5px;
}

.orderForm table td:first-child {
	width: 52%;
}

.orderForm table th {
	width: 12%;
	border: 1px solid #23B3B4;
	background-color: #23B3B4;
	padding: 0px 5px;
}

.orderForm table th:first-child {
	width: 52%;
}

.orderForm table td.blank {
	border-bottom: none;
  	border-left: none;
  	border-right: none;
}

.orderForm table tr:last-child {
	border-top: 2px solid #23B3B4;
}

.orderForm table input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: none;
}

.orderForm button {
	background-color: #23B3B4;
	border: none;
	color: #ffffff;
	padding: 10px;
	font-size: 14px;
	font-family: Georgia, serif;
	cursor: pointer;
}

.orderForm button:hover {
	background-color: #28C6C1;

}
