body, html {
	padding: 0;
	margin: 0;
	font-family: arial;
}

a {
	text-decoration: none;
	color: #23B3B4;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin: 1% 0;
}

h2 {
	margin-bottom: 0px;
}



.emphasis {
	font-size: 12px;
	color: #23B3B4;
	font-style: italic;
	text-align: center;
}

.wrapper {
	width: 80%;
	margin: auto;
}

header {
	background-color: #23B3B4;
	width: 100%;
	float: left;
}

header img {
	float: left;
	margin-left: 25px;
}

nav ul {
	float: right;
	margin: 10px 25px;
}

nav ul li {
	display: inline-block;
	padding: 5px;
}

nav ul li a {
	color: #fff;
	font-weight: bold;
}

nav ul li a:hover {
	text-decoration: underline;
}

.content {
	margin: 0px 25px 45px;
	float: left;
}

.content .banner {
	width: 90%;
	margin: 1% 5% 1%;
}

.content .frontProducts ul {
	padding: 0;
}

.content .frontProducts ul li {
	display: inline-block;
	width: 22%;
	padding: 0 1%;
}

.content .frontProducts ul li p {
	
}

footer {
	position: fixed;
	height: auto;
	bottom: 0;
	background-color: #E8E9E3;
	width: 100%;
	margin: 0;
}

footer div {
	width:90%;
	margin:auto;
	text-align: center;
}

footer p, footer a {
	font-size: 10px;
	display: inline-block;
	text-align: center;
	padding: 0px;
	margin: 8px 2px 0px;
}

table {
	width: 100%;
}

table th {
	text-align: left;
}

table td:first-child {
	width: 55%;
}

table td ul {
	list-style: none;
}

table td ul li {
	padding: 1%;
}

.orderTable td {
	width: 24% !important;
}

.orderTable th {
	width: 24%;
}
